

body{
	background-color: #E6E6E6;
}

header {
	background-color: #F4DEB5;
	margin-bottom: 20px;
	text-align: center;
	padding: 30px;
}

h3 {
	color: black;
}

h4 {
	color: #F7E1B7;
}

.sidebar {
	background-color: #90BB90;
	color: white;
	padding-bottom: 500px;
}

.main_content {
	float: left;
}

.container {
	margin-left: 0px;
}